<h1>Page B</h1>
<h2>My Number = {{ num }}</h2>

<div id="lipsum">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at rhoncus
    tortor. In hac habitasse platea dictumst. Ut lacinia tincidunt nibh.
    Vestibulum ipsum risus, malesuada vitae velit et, dictum dapibus lorem. Sed
    quam nulla, rhoncus eget felis vel, laoreet ornare eros. Proin gravida
    dapibus quam eget consectetur. Fusce eu iaculis quam, vel sagittis tellus.
    Ut convallis risus vitae enim condimentum, ornare elementum neque luctus.
    Vestibulum tempus suscipit commodo. Etiam eu sollicitudin nibh, sed congue
    orci. Pellentesque et arcu in ex lacinia fermentum non hendrerit dui.
    Pellentesque ultricies, dui vitae iaculis porta, lacus libero gravida nunc,
    at sodales purus lorem nec nisl.
  </p>
  <p>
    Curabitur non dolor a massa pellentesque molestie. Nunc quis accumsan velit.
    Vivamus ornare pulvinar velit a mollis. Donec sodales magna quis ultrices
    dapibus. Integer bibendum, odio ac convallis sagittis, urna sem bibendum
    nisi, nec faucibus tellus lacus ac ante. Mauris ac tortor at nunc ultrices
    fermentum id eu nisl. Fusce aliquam blandit purus blandit pharetra.
    Pellentesque fermentum tincidunt posuere. Aenean in sollicitudin odio. Fusce
    quam urna, facilisis non mattis et, sodales id eros. Nullam mollis tortor ac
    tempor fringilla. Integer nisl libero, dictum sed gravida et, consectetur
    viverra nisl. Pellentesque ultrices risus eu augue viverra, in eleifend
    lorem facilisis. Duis ac orci faucibus, laoreet ipsum quis, lobortis urna.
  </p>
  <p>
    Curabitur elementum euismod gravida. Mauris euismod dignissim mauris, sed
    sodales mauris finibus sit amet. Morbi vel mauris erat. Pellentesque iaculis
    mauris finibus orci tempor scelerisque. Duis eleifend quis magna vitae
    accumsan. Nulla sed varius turpis, sit amet condimentum quam. Donec a
    faucibus elit.
  </p>
  <p>
    Nullam lacus magna, commodo at nulla nec, aliquet ultrices sapien. Morbi
    cursus sem in mi ullamcorper consequat. Pellentesque maximus, ipsum quis
    molestie elementum, tortor risus accumsan elit, nec placerat felis ante ut
    risus. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Duis pretium vulputate efficitur. Fusce nec
    venenatis dolor. Maecenas consequat, felis cursus blandit molestie, neque
    orci laoreet justo, vel pharetra purus ligula vitae mauris. Ut ac nunc
    consectetur, commodo arcu blandit, auctor eros. Proin eu eros at velit
    ornare condimentum nec a quam. Aliquam erat volutpat. Duis id dui tortor.
    Pellentesque magna mi, consequat at sem eget, molestie convallis tortor.
    Duis non ligula efficitur, feugiat urna eget, cursus mi. Curabitur ut purus
    nec libero sagittis pulvinar vel sed diam. Nunc scelerisque tristique sapien
    at ullamcorper. Maecenas ac quam at elit faucibus scelerisque.
  </p>
  <p>
    Curabitur vestibulum dignissim felis, ac cursus lectus imperdiet id. Fusce
    cursus sodales scelerisque. Cras mollis consequat ante ut feugiat. In vel
    euismod est. Phasellus pellentesque lorem sit amet sem ultrices, vel
    imperdiet diam interdum. Ut suscipit luctus justo at rutrum. Nulla
    tristique, eros ac iaculis fermentum, orci sem pellentesque mi, ac porta
    augue turpis mattis mi. Aliquam risus mauris, iaculis ut pharetra tempus,
    lacinia et justo. Praesent congue luctus leo, in faucibus augue.
  </p>
  <p>
    In hac habitasse platea dictumst. Morbi fermentum tempus justo, non dictum
    lectus consequat vel. Ut a odio ipsum. Pellentesque non tristique dolor.
    Nunc porta, neque tempus molestie efficitur, sem ipsum auctor elit, eu
    vulputate nibh ante iaculis nulla. Nulla vel lacus eget mauris dignissim
    venenatis eu at lectus. Nulla placerat elit vitae ultricies accumsan.
    Pellentesque in ornare est. Nullam fermentum dignissim ipsum nec interdum.
    Nullam suscipit pharetra nisl. Quisque egestas congue orci nec interdum.
    Suspendisse egestas augue a lacus scelerisque tempus. Integer nec purus
    venenatis, fermentum dui in, aliquet est. Maecenas non egestas erat.
  </p>
  <p>
    In feugiat lorem ut interdum suscipit. Sed venenatis viverra cursus. Donec
    porta fermentum imperdiet. Nam vitae velit quam. Nullam nec scelerisque
    libero, id suscipit magna. Nullam dignissim dignissim ex sed ullamcorper.
    Cras et varius sapien. Nunc id scelerisque orci.
  </p>
  <p>
    Nunc magna lectus, molestie cursus pretium eget, molestie non purus.
    Curabitur sit amet efficitur ante, in placerat libero. Duis laoreet magna
    commodo viverra eleifend. Sed vitae enim in leo placerat vulputate. Fusce
    non odio eget augue porttitor finibus. Etiam dictum, nunc in semper
    hendrerit, lectus arcu vulputate turpis, vel rhoncus eros elit at elit.
    Suspendisse mollis luctus quam. Sed in egestas quam, eget suscipit risus.
    Etiam facilisis ante a est fermentum dignissim eu ut velit. Maecenas eu arcu
    sit amet turpis bibendum tincidunt. Nulla sit amet sem sit amet leo interdum
    fringilla non et augue. Curabitur tempus urna quis libero consectetur, nec
    rhoncus diam ultrices.
  </p>
  <p>
    Praesent vestibulum nisi at mauris sodales, ac cursus ipsum facilisis. Donec
    finibus ac purus a sodales. Vivamus condimentum pretium ex, at venenatis mi
    imperdiet eu. Aenean ornare facilisis dui et fringilla. Proin at odio quis
    est accumsan vehicula. Etiam dapibus odio sit amet velit maximus, id
    sagittis risus hendrerit. Integer commodo mollis massa, non efficitur erat
    accumsan quis. Phasellus gravida massa sed varius hendrerit. Nulla fermentum
    ut tellus at consequat. Donec rhoncus purus sed ultrices tempor. Phasellus
    sagittis mauris a neque suscipit, quis vulputate diam interdum. Maecenas ut
    ante sapien.
  </p>
  <p>
    Phasellus vehicula, metus et tincidunt faucibus, sapien tortor tempus lorem,
    quis porta ex sem sed quam. Nunc vitae orci hendrerit neque sagittis aliquam
    quis vehicula tellus. Duis varius in sapien sit amet dapibus. Sed sed nunc
    augue. Sed mollis sem maximus ultrices porttitor. Suspendisse quam velit,
    posuere non laoreet in, placerat sit amet nibh. Vestibulum ante ipsum primis
    in faucibus orci luctus et ultrices posuere cubilia curae; Sed mollis
    fringilla diam vel vestibulum. In hac habitasse platea dictumst. Curabitur
    dictum lacus nulla, id congue mi condimentum quis. Class aptent taciti
    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    Phasellus efficitur dapibus nulla, sed eleifend leo laoreet non. Donec
    posuere ipsum at urna imperdiet, at volutpat turpis suscipit. Aliquam erat
    volutpat. Nam tincidunt lacus vitae elementum tempus. Fusce tincidunt urna
    in iaculis commodo.
  </p>
</div>

@defer(on timer(3s)) {
  <app-stam></app-stam>
}
@placeholder {
  <h1>When we scroll here, it will cause the app-stam component to load</h1>
}
